<div class="container">
    <div class="title-container-background">
        <div class="title-container">
            <span class="title-text">HN Feed</span>
            <span class="subtitle-text">We &#60;3 hacker news </span>
        </div>  
    </div>
    
    <mat-list class="news-container" *ngIf="news.length" role="list">
        <mat-list-item class="new-container" role="listitem" *ngFor="let new of news">
           <span (click)="openNew(new)" class="new-style" *ngIf="new.story_title">{{ new.story_title }}. <span class="author">- {{ new.author }} -</span></span>
           <span (click)="openNew(new)" class="new-style" *ngIf="!new.story_title && new.title">{{ new.title }}.<span class="author">- {{ new.author }} -</span> </span>
           <span class="new-date">
               {{ new.created_at }}
           </span>
           <mat-icon class="new-icon" aria-hidden="false" aria-label="Example home icon" (click)="deleteNew(new)">delete</mat-icon>
           <mat-divider></mat-divider> 
        </mat-list-item>
    </mat-list>
    <span *ngIf="!news.length && newsError" class="new-error">error getting news, try again later</span>
</div>
