@import '~@angular/material/theming';

.container {
    height: 100%;
}

.title-container-background {
    background-color: #333;
    height: 200px;
    display: flex;
    .title-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title-text {
            color: #fff;
            font-size: 50pt;
        }
    
        .subtitle-text {
            color: #fff;
            font-size: 20pt;
            margin-top: 30px;
        }
    }
}

.news-container {
    padding: 30px;
    overflow-y: auto;
    max-height: calc(100% - 260px);
}
.new-container {
    background-color: #fff;
    border: 1px;
    border-color: #ccc;
}

.new-container:hover {
    background-color: #fafafa;

}

.new-style {
    color: #333;
    font-size: 13pt;
    width: calc(100% - 300px);
    .author {
        color: #999;
    }
}

.new-style:hover {
    cursor: pointer;
}

.new-date {
    width: 250px;
    cursor: default;
}

.new-icon:hover {
    cursor: pointer;
}

.new-error {
    color: #333;
    font-size: 13pt;
    margin-left: 10px;
}

